<!-- <ion-header>
  <ion-navbar>
    <ion-title>
      Project Woofie
    </ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content padding no-bounce class="baseContent">
  <div class="background-container" [style.backgroundImage]="'url('+backgroundImgSrc+')'">
    <img class="logo" src="img/logo.png"/>
    <ion-grid class="main-grid">

      <ion-row class="grid-row">
        <ion-col width-33>
          <button ion-button class="currency-button" *ngIf="baseCurrency" (click)="baseCurrencyButtonClicked($event)">{{baseCurrency}}</button>
        </ion-col>
        <ion-col>
          <ion-input class="currency-input" type="number" placeholder="0.00" [(ngModel)]="baseCurrencyValue" (change)="requestExchProvider()"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <img class="down-arrow-img" src="img/down-arrow.png"/>
      </ion-row>

      <ion-row class="grid-row" >
        <ion-col width-33>
          <button ion-button class="currency-button" *ngIf="targetCurrency" (click)="targetCurrencyButtonClicked($event)">{{targetCurrency}}</button>
        </ion-col>
        <ion-col>
          <div class="currency-output animated fadeIn" *ngIf="targetCurrencyValue">{{targetCurrencyValue}}</div>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>
  <div class="text-subinfo">
      <span>Last updated on 20 March 2017, 16:22</span>
  </div>

  <img class="refresh-btn" src="img/refresh-btn.png" (click)="refreshButtonClicked()"/>
  <div class="bottom-ad" style="display:none"> </div>



  <ion-card style="display:none">
    <ion-card-header></ion-card-header>
    <ion-card-content *ngIf="baseValue||targetValue">Value: {{baseCurrencyValue}} - {{targetCurrencyValue}}</ion-card-content>
    <ion-card-content *ngIf="result">Rate: {{result}}</ion-card-content>
  </ion-card>

  
</ion-content>
