<ion-header>
  <ion-navbar>
    <ion-title>
      Project Woofie
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  Currency exchange apps project.
  <p>
   	Some text will be display here.
  </p>
  <button ion-button *ngIf="LCurrency" color="light" (click)="leftCurrencyButtonClicked($event)">{{LCurrency}}</button>
  <button ion-button *ngIf="RCurrency" color="light" (click)="rightCurrencyButtonClicked($event)">{{RCurrency}}</button>

  <ion-card>
  	<ion-card-header></ion-card-header>
  	<ion-card-content>A card content</ion-card-content>
  </ion-card>
</ion-content>
